.App {
  font-family: "Archivo", sans-serif;
}
.desktop {
  display: flex;
  justify-content: center;
}

.content,
.sidebar {
  border: 3px solid black;
  padding: 15px;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  width: 25%;
  height: 40vh;
  top: 55%;
}

.content {
  width: 50%;
  min-height: 100vh;
  overflow: hidden;
}

.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
